@{
    ViewBag.Title = "Заявка добавлена";
    Layout = "/Views/Shared/_LayoutGuest.cshtml";
}

<div class="container">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Заявка успешно отправлена!</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        В ближайшее время наши специалисты свяжутся с вами.
    </p>
</div>