@{
    ViewBag.Title = "Заявка добавлена";
    Layout = "/Views/Shared/_LayoutGuest.cshtml";
}

<div class="container">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Произошла ошибка!</h2>
    <p class="text-center w-responsive mx-auto mb-5">
        Наши специалисты уже в курсе проблемы. В ближайшее время всё починим
    </p>
</div>