@model HtmlTemplate
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_LayoutGuest.cshtml";
    int i = 1;
}
<div class="container" style="margin-top:20px">
    <div id="accordion" role="tablist" aria-multiselectable="true">
        @{
            if (ViewBag.Services != null)
            {
                foreach (HtmlTemplate item in ViewBag.Services)
                {
                    i += 1;
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample-@i" aria-expanded="false" aria-controls="collapseExample-@i" style="width:100%">
                            @item.Title
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample-@i">
                        <div class="card card-block">
                            <p style="margin:10px">
                                @item.Text
                            </p>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>